<!DOCTYPE html>
<html>
  <head>
  <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
     <div class="container">
      <h1><% if(user){ %> <%- user.username %> <% } %></h1>
      <h2>Информация о заказах</h2>
      <div>
        <% if(reservedTables.length === 0){ %>
          Нет заказов
        <% } %>
        <% for(var i = 0;i < reservedTables.length;i++){ item=reservedTables[i]; %>
          <div class="table_reservation_card" id="table_<%- item['id'] %>">
            <h3>Столик</h3>
            <p>Код (покажите на входе):</p> <div style="text-align: center;"><img src="/qr/<%- item['id'] %>" alt="Код"></div>  <br>
            Зал: <%- item['room'] %>  <br>
            <%- item['table'] %> <br>
            Кол-во персон: <%- item['persons'] %> <br>
            Дата: <%- item['date'] %>  <br>
            Время: <%- item['time'] %>  <br>
            <hr>
            Пожелания: <% if(item['additional']){ %> <%- item['additional'] %> <% } else{ %> Нет <% } %>  <br>
            <button onclick="cancelTable('<%- item['id'] %>');">Отменить</button>
          </div>
        <% } %>
      </div>
     </div>

     <script type="text/javascript">
      function cancelTable(id){
        fetch('/delete_table', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json;charset=utf-8'
          },
          body: JSON.stringify({tableId: id})
        }).then(result=>{
          result.json().then(data=>{
            if(data.successMessage === "deleted"){
              document.getElementById("table_"+id).remove()
            }
          })
        });
      }
    </script>
  </body>
</html>